<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="/logout" method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <input type="submit" value="Выйти"/>
</form>
<!--<a href="/registration">Регистрация</a>-->
<!--<a href ="/signin">Вход</a>-->
<a href ="/wallet">Создать кошелек</a>
<br/>
<a href="/transaction">Выполнить действие с кошельком</a>
<!--<div>Список сообщений</div>-->
{{#wallets}}
    <div>
        <b>{{name}}</b>
        <span>{{balance}}</span>
        <i>{{currency}}</i>
    </div>
{{/wallets}}
</body>
</html>
