<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<a href="/registration">Регистрация</a>
<br/>
<a href ="/logn">Вход</a>
<br/>
<a href ="/wallet">Создать кошелек</a>
<br/>
<a href="/transaction">Выполнить трансакцию</a>
</body>
</html>
