<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Cashflow</title>
		<meta name="description=" content="Cashflow">
		<link rel="stylesheet" href="./css/style.css">
	</head>
	<body>
		<header>
			<h1><a href="/greeting">Cashflow</a></h1>
			<div class="logNreg">
				<form action="/logout" method="post">
					<input type="hidden" name="_csrf" value="{{_csrf.token}}" />
					<input type="submit" value="Выйти"/>
				</form>
			</div>
		</header>
		
		<div class="Home">
			<p><a href="/registration">Регистрация</a></p>
			<p><a href ="/login">Вход</a></p>
			<p><a href ="/wallet">Создать кошелек</a></p>
			<p><a href="/transaction">Выполнить трансакцию</a></p>
		</div>
		
		<footer>
			<h1>Cashflow</h1>
		</footer>
	</body>
</html>