<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Cashflow</title>
		<meta name="description=" content="Cashflow">
		<link rel="stylesheet" href="./css/style.css">
	</head>
	<body>
		<header>
			<h1><a href="/greeting">Cashflow</a></h1>
			<div class="logNreg">
				<form action="/logout" method="post">
					<input type="hidden" name="_csrf" value="{{_csrf.token}}" />
					<input type="submit" value="Выйти"/>
				</form>
			</div>
		</header>
		
		<div class="Profile">
			<div class="walets-log-create">
				<h4>Ваши кошельки</h4>
				<a href="/transaction" class="transactWalet">Выполнить действие с кошельком</a>
				<a href="/wallet" class="createWalet">Создать кошелек</a>
			</div>
			<div class="walets-table">
				{{#wallets}}
					<div class="walet">
						<p>{{name}}</p>
						<p class="balanceNcurrency">
							<span>{{balance}}</span>
							<span>{{currency}}</span>
						</p>
					</div>
				{{/wallets}}
			</div>
		</div>
		
		<footer>
			<h1>Cashflow</h1>
		</footer>
	</body>
</html>