<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Cashflow</title>
		<meta name="description=" content="Cashflow">
		<link rel="stylesheet" href="./css/style.css">
	</head>
	<body>
		<header>
			<h1><a href="/greeting">Cashflow</a></h1>
			<div class="logNreg">
				<form action="/logout" method="post">
					<input type="hidden" name="_csrf" value="{{_csrf.token}}" />
					<input type="submit" value="Выйти"/>
				</form>
			</div>
		</header>
		
		<div class="Transaction">
			<div class="transactionWindow">
				<p class="zagTrans">Трансакция</p>
				
				<form method="post" id="myForm">
					<input class="inputSize" type="text" name="walletName" placeholder="Введите имя кошелька"/>
					<p>Выберите тип трансакции</p>
					<div class="typ">
						<div class="typtyp">
							<input id="type0" type="radio"  name="type" value="income" onclick="changeDisplay()">
							<label for="type0">Доход</label>
							<input id="type1" type="radio" name="type" value="expense" onclick="changeDisplay()">
							<label for="type1">Расход</label>
						</div>
						
						<p class="zagCat" style="display: none;">Выберите категорию</p>
						<div class="income" style="display: none;">
							<input id="incom0" type="radio" name="categoryIn">
							<label for="incom0">Зарплата</label>
							<input id="income1" type="radio" name="categoryIn">
							<label for="income1">Кешбек</label>
						</div>
						
						<div class="expense" style="display: none;">
							<input id="expens0" type="radio" name="categoryEx">
							<label for="expens0">Покупка</label>
							<input id="expens1" type="radio" name="categoryEx">
							<label for="expens1">Комунальные платежи</label>
							<input id="expens2" type="radio" name="categoryEx">
							<label for="expens2">Услуги</label>
						</div>
					</div>
					<input class="inputSize" type="date" name="date" placeholder="Введите дату"/>
					<input class="inputSize" type="text" name="description" placeholder="Напишите комментарий"/>
					<input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
					<button type="submit">Создать трансакцию</button>
				</form>
			</div>
		</div>
		
		<footer>
			<h1>Cashflow</h1>
		</footer>
	</body>
	<script src="./js/script.js"></script>
</html>